/* Basic Styles
--------------------------------------*/
* {
    box-sizing: border-box;
}

body {
    background-color: seagreen;
    font-family: sans-serif;
}

section.box {
    padding: 1em 2em;
    border: 1px solid #cccccc;
    background-color: #f5f3f1;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 1em;
}

div.wrapper {
    background-color: #f0ead9;
    border-radius: 2em;
    padding: 1em 2em;
    margin: 1em auto;
    max-width: 1000px
}






/* DESKTOP Layout
------------------------------------*/
main {
    padding: .75em;
    border-radius: 1em;
    background-color: #c3c3c3;
    font-size: 140%;
    line-height: 1.4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}


header {
    background-color: gainsboro;
    border-radius: 1em;
    align-items: center;
    padding: 1em;
    margin: 0 0 1em 0;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 200%;
    text-align: center;
}

/* Image styles
------------------------------------*/
img {
  max-width: 100%;
}

figcaption {
    font-size: 70%;
    text-align: center;
}


figure.ivan img {
    border: 5px solid white;
    box-shadow: 0 5px 5px #a2a2a2;
}


/* Navigation
------------------------------------*/

nav {
    background-color: #cbcbcb;
    border-radius: .5em;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: .5em 1em;
    text-transform: uppercase;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #f5f3f1;
    border-radius: 2em;
    margin: .25em;
}

nav a:hover {
    background-color: ghostwhite;
    border-radius: 2em;
}



/* Tablet Media Query
------------------------------------*/
@media (max-width: 799px) {
  
  body {
    background-color: seagreen;
  } 

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  header {
    display: block;
  }

  nav {
    width: fit-content;
    margin: auto auto;
  }

  div.wrapper {
    margin-top: 0em;
    border-radius: 0em;
  }

}



/* Phone Media Query
------------------------------------*/
@media (max-width: 499px) {
  body {
    background-color: darkcyan;
  }

  div.wrapper {
    margin: 0;
    border-radius: 0;
    padding: 0;
  }

  main {
    margin: 0;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-radius: 0
  }

  .box {
    border-radius: 2rem;
    font-size: 160%;
  }

  nav ul {
    display: flex;
    padding: .001rem 0;
    flex-direction: column;
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    padding: 0 0 .3rem 0;
    margin: 0 0 1em 0;
    display: flex;
    justify-content: flex-start;
  }

  nav {
    display: flex;
    width: 100%;
  }

  nav a {
    text-align: center;
    align-items: space-around;
  }


}
















